<div>
  
  <div style="width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
    <%= link_to 'Back', root_path, :class => 'submit-btn links' %>
  </div>

  <% if session[:cart_count] == 0 %>
    <div style="width: 100%; height: 200px; line-height: 40px; color: red; text-align: center; padding-top: 20px;">
      <strong> Empty cart </strong> <br/>
      <%= image_tag("cart.png", :alt => "rss feed", :class=>"cart-logo") %>
      <br/>
      <a href="/flipkart" class="danger-btn links" style="width: 100%;">Add Product to Cart</a>
    </div>
  <% end %>
  <% if session[:cart_count] != 0%>
  <%= form_for :product_list, url: '/order_products/place_order', method: :post do |f| %>
    <div style="width: 100%;">
      <div style="width: 40%; float: left;">

        <div style="overflow: auto; height: 200px; padding-right: 20px;">
          <strong>Select Address </strong>

            <table style="margin-top: 10px;">
            <tbody>
              <% @addresses.each do |address| %>
                <tr>
                  <td> 
                    <%= f.radio_button:address_id, address.id, :checked => (address.default == true || @addresses.size == 1) %>
                  </td>
                  <td>City: <%= address.city %></td>
                  <td>Pincode: <%= address.pincode %></td>
                  <td>Contact: <%= address.contact %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if  @addresses.size == 0%>
          <p style="margin-top: 10px;">
            <strong><%= link_to 'Add new address', new_address_path({"page":"cart"}), :class => 'links' %></strong>
          </p>
          <% end %>
        </div>

        <div style="height: 150px; padding-right: 20px;">
          <strong> Payment Option </strong>
          <table style="margin-top: 10px;">
            <tbody>
              <tr>
                <td> <span>
                  <%= f.radio_button:paymentoption,'Wallet', :checked => (true) %>
                  Wallet</span>
                  <label>
                  Available balance: ₹ 
                  <%= @wallet.amount %>
                  </label>
                </td>
              </tr>
              <!-- <tr>
                <td> <input type="radio" name="paymentoption" value="COD"> COD</td>
              <tr> -->
            </tbody>
          </table>
        </div>
        
      </div>

      <div style="width: 60%; float: left;">
          <table class="last-table-border">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal </th>
                <th colspan=""></th>
              </tr>
            </thead>

            <tbody>
              <% @cart_products.each do |cart_product| %>
                <tr>
                  <td><%= cart_product.product.name %></td>
                  <td><%= cart_product.product.price%></td>
                  <td><%= cart_product.quantity %></td>
                  <td>₹ <%= cart_product.product.price * cart_product.quantity %></td>
                  <td><%= link_to 'Remove', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan="3" style="text-align: left;"><strong>Total Amount</strong></td>
                <td colspan="2" style="text-align: left"> 
                  <strong>₹ <%= @totalAmount %></strong>
                </td>
              </tr>
            </tbody>
          </table>

          
            <%= f.hidden_field :totalAmount, :value=> @totalAmount %>
            <%= f.hidden_field :cart_id, :value=> @cart.id %>
            <%= f.hidden_field :customer_id, :value=> @cart.customer_id %>
            <%= f.submit "Place Order", :class => "submit-btn links" %>
  <% end %>
      </div>
    </div>
  <% end %>

</div>






<!-- <%= link_to 'Place order', new_cart_product_path %>  -->

