
<div style="margin-bottom: 500px;">
    <% if @products.size != 0 %>
    <% @products.each do |product| %>
        <div class="card" style="float: left; margin-right: 55px;">
            <!-- 
            <div class="img-card">
            <%= image_tag("user.png", :alt => "rss feed", :class=>"cardlogo") %>
            </div> -->
            <hr>
            <div class="container">
                <h4><b>
                    <strong><%= product.name %></strong>
                </b></h4> 

                <p>
                    <strong>Price:</strong> ₹ 
                    <%= product.price %>
                </p> 

                <p style="height: 60px;">
                    <strong>Specification:</strong> <br/>
                    <%= product.description %>
                </p>
                <% if product.quantity == 0%>
                    <p style="color: red">
                    Out of stock
                    </p>
                <% elsif product.quantity <= 10 %>%>
                <p style="color: red">
                    Hurry few left
                    </p>
                <% end %>
                
                <p>
                    <%= form_for @cart_product do |f| %>
                        <%= f.hidden_field :product_id, :value=> product.id %>
                        <%= f.number_field :quantity, :value=> 1, :min => 1, :class => "cart-quantity-box" %>
                        <%= link_to 'Show', flipkart_path(product), :class => "btn" %>
                        <%= f.submit "Add to Cart", :class => "submit-btn " %>
                    <% end %>
                </p>
            </div>
        </div>
    <% end %>
    <% else %>
        <div style="width: 100%; height: 400px; line-height: 40px; color: red; text-align: center; padding-top: 20px;">
            <strong> No Product Found </strong> <br/>
            <%= image_tag("no_item.png", :alt => "rss feed", :class=>"product-item") %>
        </div>
    <% end %>
</div>
