<div style="margin: auto; text-align: center;">

<div class="card" style="float: left; margin-right: 10px;">
      <hr>
      <div class="container">
        <h4><b>
          <strong><%= @product.name %></strong>
        </b></h4> 

        <p>
          <strong>Price:</strong> ₹ 
          <%= @product.price %>
        </p> 

        <p style="height: 60px;">
          <strong>Specification:</strong> <br/>
          <%= @product.description %>
        </p>

        <p style="color: red">
          <strong><%= @product.quantity %></strong>
          are left
        </p>
        
        <p>
          <%= form_for @cart_product do |f| %>
            <%= f.hidden_field :product_id, :value=> @product.id %>
            <%= f.number_field :quantity, :value=> 1, :min => 1, :class => "cart-quantity-box" %>
            <%= link_to 'Back', root_path, :class => "btn" %>
            <%= f.submit "Add to Cart", :class => "submit-btn " %>
          <% end %>
        </p>
      </div>
    </div>


</div>