

<div style="margin-top: -40px; width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
    <%= link_to 'Home', root_path, :class => 'submit-btn links' %>
 </div>

<div class="" style="margin: auto; text-align: center; width: 80%;">
  <div style="text-align: center; width: 30%; text-align: center; float: left;">
     <% if  @product.images.present? %>
        <%= image_tag(@product.images.first, :alt => "rss feed", :class=>"cardlogo") %>
      <% else %>
        <%= image_tag 'no-image-icon.png', :class=>"cardlogo" %>
      <% end %>
  </div>

  <div style="margin: auto; text-align: center; width: 70%; text-align: left; float: left;">
    <div style="width: 100%;height: 40px; font-size: 30px!important; color: #5E6469;">
      <%= @product.name %>
    </div>

    <div style="width: 100%; height: 35px; font-size: 35px; color: #5E6469;">
      ₹ <%= @product.price %>
    </div>

    <div style="width: 100%;">
    <strong style="font-size: 20px; color: #5E6469;"> Specification </strong>
    <ul style="margin-left: 40px;">
      <% @product.description.split('|').each do |spec| %>
        <li style="height: 30px;"> <%= spec %> </li>
      <% end %>
    </ul>
    </div>

    <div style="width: 100%; margin-top: 10px;">
      <%= form_for @cart_product do |f| %>
            <%= f.hidden_field :product_id, :value=> @product.id %>
            <div style="width: 100px; float: left;">
              <%= f.number_field :quantity, :value=> 1, :min => 1, :class => "cart-quantity-box" %>
            </div>
            <div style="height: 40px; float: left;">
              <%= f.submit "Add to Cart", :class => "submit-btn" %>
            </div>
          <% end %>
    </div>
  </div>
</div>
  
</div>
