

<div style="margin-top: -40px; width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
    <%= link_to 'Home', root_path, :class => 'submit-btn links' %>
 </div>

<div class="card" style="margin: auto; text-align: center; width: 50%; text-align: left;">
      <div class="view-row" style="margin-left: 5px; line-height: 40px; height: 40px;">
          Product Description
      </div>
      <hr>
      <div class="container">
        <h4 class="view-row"><b>Title </b>
          <strong><%= @product.name %></strong>
        </h4> 

        <p class="view-row">
          <strong>Price:</strong> ₹ 
          <%= @product.price %>
        </p> 

        <p class="view-row" style="height: 60px;">
          <strong>Specification:</strong> <br/>
          <%= @product.description %>
        </p>

        <p class="view-row" style="color: red">
          <strong><%= @product.quantity %></strong>
          are left
        </p>
        
        <p>
          <%= form_for @cart_product do |f| %>
            <%= f.hidden_field :product_id, :value=> @product.id %>
            <%= f.number_field :quantity, :value=> 1, :min => 1, :class => "cart-quantity-box" %>
            <%= f.submit "Add to Cart", :class => "submit-btn " %>
          <% end %>
        </p>
      </div>
    </div>

  
</div>