<div style="margin-top: -40px; width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
    <%= link_to 'Back', root_path, :class => 'submit-btn links' %>
  </div>
<h3>Customer Management Panel</h3>
<hr>
<div style="margin-top: 20px;">
    <div style="width: 30%; float: left;">
        <strong>My Info</strong>
        <br/>
        <table>
            <tr>
                <td>ID</td>
                <td><%= current_customer.id %></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= current_customer.name %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= current_customer.email %></td>
            </tr>
            <tr>
                <td>Available balance </td>
                <td><%= render 'wallet', wallet: @wallet %></td>
            </tr>
        </table>
    </div>
    <div style="width: 40%; float: left; height: 350px; overflow: auto;">
        <strong>My Address</strong>
        <br/>
        <table style="padding-left: 20px;">
            <thead>
                <tr style="text-align: left">
                <th>City</th>
                <th>Pincode</th>
                <th>Contact</th>
                </tr>
            </thead>

            <tbody>
                <% @addresses.each do |address| %>
                <tr>
                    <td><%= address.city %></td>
                    <td><%= address.pincode %></td>
                    <td><%= address.contact %></td>
                    <!-- <td><%= link_to 'Edit', edit_address_path(address) %></td>
                    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
                <% end %>
            </tbody>
            </table>
    </div>
    <div style="width: 30%; float: left; height: 350px; overflow: auto;">
        <strong>Order History</strong>
        <br/>
        <table style="padding-left: 20px;">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>View</th>
                </tr>
            </thead>
            <% @orders.each do |order| %>
            <tr>
                <td> <%= order.id %> </td>
                <td> <%= order.order_date %> </td> 
                <td> 
                <%= link_to 'View', "/sessions/view_orders/#{order.id}" , method: :get %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    
    <!-- <div><strong><%= link_to 'Order History', new_address_path, :class => 'links' %></strong></div>
    <div><strong><%= link_to 'Add new address', new_address_path, :class => 'links' %></strong></div> -->

</div>