
<div style="margin: auto; width: 350px;">
    <div style="height: 50px; text-align: center;"> 
        <h1> Login </h1> 
        <br/>
        <hr>
    </div>
    <%= form_tag 'login' do %>   
    <div style="height: 50px; "> 
        <div style="height: 50px; float: left; width: 30%"> 
            <%= label_tag :username %>   
        </div>
        <div style="height: 50px; float: left; width: 70%"> 
            <%= text_field_tag :username, nil, required: true %>   
        </div>
    </div>
    <div style="height: 50px; "> 
        <div style="height: 50px; float: left; width: 30%"> 
            <%= label_tag :password%>   
        </div>
        <div style="height: 50px; float: left; width: 70%"> 
            <%= password_field_tag :password, nil, required: true %>   
        </div>
    </div>

    <div style="height: 50px; width: 100%;"> 
        <%= submit_tag "Login", :class => "submit-btn links", :onclick => "validate_login_form();" %>
    </div>
    <% end %>
    
    <div style="text-align: center; margin-top: 30px;">
        don't have account ? <a href="/customers/new" class="links">create new</a> 
    </div>
</div>