<div>
    <div style="width: 25%; float: left; height: 40px;"><%= link_to 'View Product', '/accounts/viewproduct' %></div>
    <div  style="width: 25%; float: left; height: 40px;"><%= link_to 'Add Product', new_product_path %></div>
    <div  style="width: 25%; float: left; height: 40px;"><%= link_to 'Add Category', new_category_path %></div>
    <div  style="width: 25%; float: left; height: 40px;"><%= link_to 'Product Order History', '/sessions/productorderhistory' %></div>

    <div style="width: 100%; float: left;">
        <table>
            <tr >
                <td colspan="2">My Info</td>
            <tr>
            <tr>
                <td>ID</td>
                <td><%= current_seller.id %></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= current_seller.name %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= current_seller.email %></td>
            </tr>
        </table>
    </div>
    
</div>