<div class="card">

  <div class="card-header">
    <strong>Detail View</strong>
  </div>
  <div class="img-card">
    <%= image_tag("user.png", :alt => "rss feed", :class=>"cardlogo") %>
  </div>
  <hr>
  <div class="container">
    <h4><b>
      <strong>Name:</strong>
      <%= @customer.name %>
    </b></h4> 

    <p>
      <strong>ID:</strong>
      <%= @customer.id %>
    </p> 

    <p>
      <strong>Password:</strong>
      <%= @customer.password %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p> 
  </div>
</div>

<div style="margin: auto; font-weight: bold; text-align: center; margin-top: 30px;">
<%= link_to 'Edit', edit_customer_path(@customer), :class => "submit-btn links" %>
<%= link_to 'Home', "/flipkart", :class => "submit-btn links" %>
<!-- <%= link_to 'Back', customers_path %> -->
</div>