<div style="margin-top: -40px; width: 100%; height: 50px; line-height: 40px; color: red; text-align: left;">
  <%= link_to 'Back', '/accounts/myaccount', :class => 'submit-btn links' %>
</div>
<div class="card-nohover" style="margin: auto; width: 70%; height: 300px; padding: 20px;">
  <div style="margin: auto; width: 40%; float: left;">
    <h4>My Address</h4>
    <%= form_with(model: address) do |form| %>

      <input type="hidden" name="page" value=<%= "#{@page}" %> />
      
      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="field">
        <%= form.label :pincode %>
        <%= form.number_field :pincode %>
      </div>

      <div class="field">
        <%= form.label :contact %>
        <%= form.text_field :contact %>
      </div>

      <div class="field">
        <%= form.label :default %>
        <%= form.select :default, [['No', false], ['Yes', true]] %>
      </div>
    <!--
      <div class="field">
        <%= form.label :customer_id %>
        <%= form.text_field :customer_id %>
      </div>
    -->
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
  <div style="margin: auto; width: 60%; float: left; margin-top: 60px;">
    <% if address.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
        <ul>
          <% address.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>