<div style="margin-top: -40px; width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
  <%= link_to 'Back', '/sessions/sellersaccount', :class => 'submit-btn links' %>
</div>

<div style="margin: auto; width: 40%; padding: 20px;" class="card-nohover">
  <span style="font-size: 20px; color: #5E6469;">New Category</span>

  <hr/>
  <br>
  <%= form_with(model: category) do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>