
<div style="width: 100%; margin: auto;">

    <div style="width: 100%; height: 50px; line-height: 40px; color: red; text-align: right;">
    <%= link_to 'Back', cart_products_path, :class => 'submit-btn links' %>
    </div>
    <%= form_for :formdata, url: '/order_products/order_payment', method: :post do |f| %>
            <%= f.hidden_field :address_id, :value=> @form_data[:address_id] %>
            <%= f.hidden_field :paymentoption, :value=> @form_data[:paymentoption] %>
            <%= f.hidden_field :customer_id, :value=> @form_data[:customer_id] %>

        <div class="card"> 
            <table>
                <tr>
                    <td>Available Balance</td>
                    <td><%= @wallet.amount%></td>
                </tr>
                <tr>
                    <td>Amount Payable</td>
                    <td><%= @form_data[:totalAmount] %></td>
                </tr>

                <tr>
                    <td>Enter Security pin</td>
                    <td>
                        <%= f.password_field :securitycode, :required => true %>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <% if @form_data[:totalAmount].to_i <=  @wallet.amount.to_i %>
                            <%= f.submit "Pay", :class => "submit-btn " %>
                        <% else %>
                            <strong> In-sufficient Amount </strong>
                        <% end %>
                    </td>
                </tr>

            </table>
        </div>
    <% end %>
</div>